@model IEnumerable<PWApp.Models.SuperHeroi>

@{
    ViewData["Title"] = "Index";
}

<div class="col-md-12">
    <div class="container">
        <a asp-action="Criar" class="btn btn-outline-success float-right">Novo</a>
    </div>
    <table class="table mt-2">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SuperPoder)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.Foto" class="img-rounded" height="45" width="45" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SuperPoder)
                    </td>
                    <td>
                        <div class="float-right">
                            <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-outline-primary">Editar</a>
                            <a asp-action="Detalhes" asp-route-id="@item.Id" class="btn btn-outline-info">Detalhes</a>
                            <a asp-action="Deletar" asp-route-id="@item.Id" class="btn btn-outline-danger">Deletar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>